<!-- components/tool/add-tool.html -->
<div class="chat_addtoll chat_modalrightbox"
     ng-show="showaddmodaltoolBox"
     ng-if="showaddmodaltoolBox">

    <!-- Modal Header -->
    <div class="chat_settingbox--title">
        <h2>Add Tool</h2>
        <img ng-src="Awareness/pub/images/Close_round_duotone_line.svg"
             class="cursor-pointer close_icon"
             ng-click="closetoolBox()">
    </div>

    <!-- Include Form Component -->
    <div ng-include="'Awareness/components/tool/shared-tool-form.html'" class="modalover-scroll"></div>

</div>
