<!-- Connection Failed Modal -->
<div class="modal fade" id="connectionFailedModal" tabindex="-1" role="dialog" aria-labelledby="connectionFailedLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content modal-width">
			<div class="modal-body text-center">
				<img src="Awareness/pub/images/delete_exclamation.svg">
				<h2 class="modal_title">Connection test failed</h2>
<!--				<p class="modal_desc" id="connectionErrorMessage"></p>-->
				<textarea class="modaltextarea" ng-model="connectionErrorText" readonly></textarea>
				<div class="d-flex gap-10 justify-content-center">
					<button type="button" class="modal_btncancel" data-dismiss="modal">Cancel</button>
					<button type="button" class="modal_btnfailed" id="saveAnywayBtn">Save Anyway</button>
				</div>
			</div>
		</div>
	</div>
</div>