<!-- Verifying Connection Modal -->
<div class="modal fade" id="verifyConnectionModal" tabindex="-1" role="dialog" aria-labelledby="verifyConnectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document"> <!-- keeps it centered -->
        <div class="modal-content modal-widthsecond text-center">
            <div class="modal-body">
                <img src="Awareness/pub/images/syncloop_logo_animation.gif" width="110px" alt="Loading">
                <h2 class="modal_title">Verifying Connection...</h2>
                <h3 class="modal_subtitle">{{ verifyingModelName }}</h3>
                <p class="modal_desc">Setting up model for use</p>
<!--                <textarea class="modaltextarea" readonly></textarea>-->
            </div>
        </div>
    </div>
</div>
