<!-- components/rag/add-rag.html -->
<div class="chat_modalrightbox overflow-y-auto"
     ng-show="showaddmodalragbaseBox"
     ng-if="showaddmodalragbaseBox">

    <!-- Modal Header -->
    <div class="chat_settingbox--title">
        <h2>Add RAG</h2>
        <img ng-src="Awareness/pub/images/Close_round_duotone_line.svg"
             class="cursor-pointer close_icon"
             ng-click="closeragbaseBox()">
    </div>

    <!-- Include Form Component -->
    <div ng-include="'Awareness/components/rag/shared-rag-form.html'"></div>

</div>
